{%- liquid
  assign link_override = ''
  if country.market.metafields.country.code == 'EU'
    assign link_override = eu_override
  elsif country.market.metafields.country.code == 'US'
    assign link_override = us_override
  elsif country.market.metafields.country.code == 'UK'
    assign link_override = uk_override
  endif
-%}
<li class="opacity-0">
  <p>
    <a
      class="reversed-link"
      {% unless country.market.metafields.default.market == true %}
        href="{{ shop.url }}/{{ localization.language.iso_code }}-{{ country.iso_code }}{%- if link_override != blank -%}/{{- link_override -}}{%- endif -%}"
      {% else %}
        href="{{ shop.url }}{%- if link_override != blank -%}/{{- link_override -}}{%- endif -%}"
      {% endunless %}
      title="{{ country.name | escape }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})"
    >
      {{- country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
    </a>
  </p>
</li>
